@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$base-color: white;
$border-color: rgb(221, 221, 221);
$orange-color: rgb(255, 90, 0);
$additional-color:rgb(119, 119, 119);
$note-color:#00a790;
$font-open:"Open Sans",sans-serif;
$background-color: rgb(234, 238, 240);
$breakpoint-mobile:500px;