@import 'config';

@media all and (max-width: 1000px) {
    .header{
           height: 110px;
    }   
}
@media all and (max-width: 1000px) {
    .header__navigation {
        margin-right: 0 !important;
      
    }
    
}

.header{
    display: flex;
    background-color: $base-color;
    position: relative;
    font-family:$font-open;
    clear: both;
    @media all and (min-width: 1500px) {
    .header__logo{
     margin-left:130px;
     margin-right:130px;
    }
    }
    &__logo{
        width:120px;
        object-fit: contain;
        margin: 16px 40px 15px 15px;
        
    }
    @media all and (max-width: 1000px) {
        .header__search {
           margin: 0 15px;
           transform: translateY(45px);
           height: 70px;
           position: absolute;
           width:96%
        }
        
    }
    
    &__search{
        display: flex;
        align-items: center;
        flex: 1;
        margin-right: 35px;
        
    }
    &__input{
        outline:none;
        height: 52%;
        border: $border-color 1px solid;
        font-family: $font-open;
        
        &--searchText{
            font-size: 14px;
            font-weight: 500;
            border-right: none;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            width: 100%;
            cursor: text;
            padding-left: 6px;
        }
        &--submit{
            background-color: $orange-color;
            border: none;
            color: $base-color;
            height: 52%;
            min-width: 90px;
            font-size: 14px;
            font-family:$font-open;
            text-align: center;
            letter-spacing: 2px;
            font-weight:500;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }

    }
    &__categories{
        width:200px;
        border: $border-color 1px solid;
        display: flex;
        height: 52%;
        align-items: center;
        min-width: 170px;
        border-right: none;
        justify-content: space-between;
        cursor: pointer;
        letter-spacing: 0.5px;
        font-size: 14px;
        padding: 0;
        
    }
    &__category{
        background-color: transparent;
        border: none;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        outline: none;
        padding-left:16px;
        text-align: left;

    }
    &__categoryList{
        cursor: default;
        &--option{
            margin-left: 15px;
            margin-bottom:2px;
        }
        &--head{
            padding-left: 0;
            font-weight: 700;
            color: black;
        }
        &--optionfirst{
            margin-left: 5px;
        }
        
        
    }
    @media all and (min-width: 1500px) {
        .header__navigation{
         margin-left:130px;
         margin-right:130px;
        }
        }
    &__navigation{
        display: flex;
        justify-content: space-between;
        margin-top: 18px !important;
        margin-left: 40px;
        cursor: pointer;
        margin: 0 auto;
      
    }
    &__option{
            margin-right: 20px;
            
            &--icons{
                color: $additional-color;
                height: 40px !important;
                width: 30px !important;
                font-size:14px;
                line-height:21px;
            }
    }
    
    
    

}
